<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.CSUF.EventFy"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark"/>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark"/>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".EventInfoActivity"
            android:label="@string/title_activity_event_info"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CreatePublicEvent"
            android:label="@string/title_activity_create_public_event">
        </activity>
    </application>

</manifest>
